.home{
    align-items: center;
    color: black;
    padding: 0rem 5rem 0rem;
}

.instr{
    text-align: left;
}

.instr_text{
    font-weight: normal;
}

ul{
    padding: 0;
    list-style: none;
}

li{
    padding: 1rem 0 1rem 0;
}

.dinLinks{
    padding: 0;
    text-align: left;
}

a{
    text-decoration: none;
    color: #D73F09;
    font-size: 40px;
    font-weight: bold;
}