.header{
    align-items: center;
    background-color: #D73F09;
    display: flex;
    padding: 0;
    height: 6rem;
    width: 100%;
}

.header img{
    width: 6rem;
    height: 4rem;
    padding-left: 5px;
}